server:
 port: 8080

spring:
 datasource:
  url: jdbc:oracle:thin:@localhost:1521/FREEPDB1
  username: springtraining
  password: springtraining
  driver-class-name: oracle.jdbc.OracleDriver
  
 jpa:
  hibernate:
   ddl-auto: validate
  show-sql: true
  properties:
   hibernate:
    dialect: org.hibernate.dialect.OracleDialect